
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.item {
. itemst-style: none;
}

.content {
    /*margin: 50px auto;*/
}

.item .select-img {
    width: 22px;
    height: 22px;
    display: none;
}

.item.selected {
    border: 1px solid #3870FF;
}

.item.selected .select-img[alt="selected"] {
    display: block;
}

div {
    -webkit-tap-highlight-color: transparent !important;
}

.btn {
    border-radius: 10px;
    background: #3870FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and  (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .title {
        display: none;
    }

    .btn {
        width: 100%;
        height: 52px;
        margin-top: 50px;

        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.333px;
    }

    .item {
        width: 100%;
        height: 70px;
        flex-shrink: 0;
        margin-bottom: 16px;
        border-radius: 10px;
        border: 1px solid #E3E3E3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: all .2s ease;
        padding-left: 18px;
        padding-right: 28px;
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .item .logo {
        width: 36px;
        height: 36px;
        margin-right: 14px;
    }

    .item .logo-title {
        flex: 1;
    }


    .item:first-child {
        margin-top: 0;
    }

    .item:last-child {
        margin-bottom: 0;
    }
}


@media screen and  (min-width: 769px) {
    body {
        padding: 50px 0;
        background: #F7F7F7;
        min-height: 664px;
    }

    .content {
        width: 570px;
        height: 564px;
        flex-shrink: 0;
        margin: 0 auto;
        border-radius: 20px;
        background: #FFF;
        padding: 40px 50px 0;
    }

    .btn {
        width: 470px;
        height: 60px;
        flex-shrink: 0;
        margin-top: 60px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.333px;
        cursor: pointer;
    }

    .btn:hover, .btn:active, .btn:visited, .btn:focus {
        opacity: 0.9;
    }

    .content .title {
        color: #111;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 116.667% */
        letter-spacing: -0.333px;
        margin-bottom: 46px;
    }

    .item {
        width: 100%;
        height: 80px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid #E3E3E3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: all .2s ease;
        padding-left: 18px;
        padding-right: 28px;
        color: #111;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.333px;
    }

    .item .logo {
        width: 44px;
        height: 44px;
        margin-right: 20px;
    }

    .item .logo-title {
        flex: 1;
    }


    .item:hover {
        background: #FAFAFA;
    }

    .item:first-child {
        margin-top: 0;
    }

    .item:last-child {
        margin-bottom: 0;
    }
}
